@import '../../sass/utils/mixin';

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  padding-bottom: 120px;
  color: var(--primaryTextColor);
  background-color: var(--backgroundColor);

  @include mq(tab) {
    color: var(--primaryTextColor);
    background-color: var(--backgroundColor);
  }

  @include mq(desk) {
    color: var(--primaryTextColor);
    background-color: var(--backgroundColor);
  }
}

.body__title {
  text-align: center;
  @include mq(tab) {
  }
  @include mq(desk) {
    width: 1250px;
  }
}
