@import '../../sass/utils/mixin';

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  padding: 100px 0 100px;
  color: var(--primaryTextColor);
  background-color: var(--backgroundColor);

  @include mq(tab) {
    color: var(--primaryTextColor);
  }

  @include mq(desk) {
    color: var(--primaryTextColor);
  }
}

.header__title {
  margin-left: 50px;
}
